{% extends 'mainsite/base.html' %} {% block content %} {% load static %}

<div class="creation_order_page">
    <form method="POST">
        <h3>Выбор автомобиля</h3>

        <select name="car" class="car_select_list">
            {% if auto.auto.brand  %}
                <option value="{{auto.id}}" name="car"> {{auto.auto.brand}}</option>
            {% else %}
                {% for car in auto %}
                    <option value="{{car.id}}" name="car">{{car.auto.brand}}</option>
                {% endfor %}
            {% endif %}
        </select>
        <div class="creation_order_job_list">
            {% for job in jobs%}
                <div class="creation_order_page_job">
                    <input type="checkbox" name="{{job.job_name}}" value="{{job.id}}"> 
                    <p>{{job.job_name}}</p>
                    
                </div>
            {%endfor%}
        </div>
        <input type="submit" value="Оформить заказ" class="creation_order_btn">
    </form>
</div>

{% endblock %}